header {
    background-color: black;
    color: white;
    padding: 2rem;
}

body {
    background-color: #9fb9eb;
    margin: 0;
}

main {
    border: 3px solid red;
}

h1 {
    text-align: center;
}

article {
    background-color: white;
    border: 1px solid #3a5d9c;
    padding: 1.3rem;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
}

footer {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
}